.empty{
    text-align: center;
    font-size:30px ;
    margin: 150px;
    font-weight: 700;
    color: green;
}
.cart-section{
    margin: 100px;
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
}
.cart-img-img{
    height: 150px;
    padding: 10px;
}
.cart-details{
    margin-left: 200px;
}
.removeBtn{
    color: white;
    background: orange;
    height:40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    margin-left: 30px;
}
