/* for mobiles */
@media (max-width: 599px) {
  .nav-logo p{

font-size: 20px;
  }
  .nav-logo{
    margin-left: -10px;
  }
  
  .navbar{
    justify-content: center;
    gap:30px;
    padding: 10px;
  }
  .nav-menu{
    gap: 15px;
    font-size: 15px;
  }
  .nav-login{
    margin-right:0px ;
  }
  
.nav-login button{
    width: 50px;
    height: 20px;
    font-size: 10px;
    
}

.nav-login img{

    height: 20px;
}
/*Hero section*/
.hero{
    height: 60vh;
    flex-direction: column;
    align-items: center;
  
}
.hero-left h2{
    font-size: 40px;
}
.hero-left p{
    font-size: 20px;
}
.hero-right img{
    height: 200px;
    margin-left: 20px;
}

/*News letter*/
.discount{
    width: 90%;
    height: 20vh;
   


}
.discount h1{
   
    font-size: 40px;
   
}

.discount div{
padding: 15px;
    font-size: 15px;
    gap: 20px;
    
}
.offer{
    width: 90%;
    height: 20vh;
   
    text-align: center;
}
.offer h1{
    font-size: 45px;
}

.offer p {
    font-size: 18px; /* Adjusted font size for smaller screens */
}


/*kids letter*/
.Kletter{
    width: 90%;
    height: 25vh;
    
}
.Kletter h1{
    font-size: 45px;
    text-align: center;
}
.Kletter p{
   display: none;
    word-spacing: 1px;
    padding-left: 10px;
    
}
    /* Mens letter */
    

.Mletter{
    width: 90%;
    height: 25vh;
    
}
.Mletter h1{
    font-size: 50px;
    text-align: center;
}
.Mletter p{
   display: none;
    word-spacing: 1px;
    padding-left: 10px;
    
}

/*Womens letter*/
.Wletter{
    width: 90%;
    height: 25vh;
    
}
.Wletter h1{
    font-size: 50px;
    text-align: center;
}
.Wletter p{
   display: none;
    word-spacing: 1px;
    padding-left: 10px;
    
}
/*inside*/
.in-page{
    flex-direction: column;
}
.in-mid{
    margin: 10px;
}
.in-side-box img{
    display: none;
   
}

    .empty {
        margin: 50px; /* Adjusted margin for smaller screens */
        font-size: 20px; /* Adjusted font size for smaller screens */
    }

    .cart-section {
        padding: 10px;
        flex-direction: column; 
    }

    .cart-details {
        display: none;
    }

    .removeBtn {
        margin: 20px ; /* Center the button horizontally and provide some vertical spacing */
    }


}
  
  /* for tablets */
  @media (min-width: 600px) and (max-width: 1023px) {
    
   
/*hero Section*/

.hero{
    height: 60vh;
    flex-direction: column;
    align-items: center;
}
.hero-left h2{
    font-size: 55px;
}
.hero-right img{
    height: 250px;
    margin-left: 80px;
}


/*News letter*/

.discount div{
    gap: 30px;
    padding-left: 50px;
    
}
.discount{
    width: 90%;
    height: 20vh;
   
}

.offer{
    width: 90%;
    height: 20vh;
}
.offer h1{
    font-size: 45px;
}

/*kids letter*/
.Kletter{
    width: 90%;
    height: 20vh;
    
}
.Kletter h1{
    font-size: 45px;
    text-align: center;
}
.Kletter p{
   display: none;
    word-spacing: 1px;
    padding-left: 10px;
    
}
    /* Mens letter */
    

.Mletter{
    width: 90%;
    height: 20vh;
    
}
.Mletter h1{
    font-size: 50px;
    text-align: center;
}
.Mletter p{
   display: none;
    word-spacing: 1px;
    padding-left: 10px;
    
}

/*Womens letter*/
.Wletter{
    width: 90%;
    height: 20vh;
    
}
.Wletter h1{
    font-size: 50px;
    text-align: center;
}
.Wletter p{
   display: none;
    word-spacing: 1px;
    padding-left: 10px;
    
}
    
/*inside*/
.in-page{
    flex-direction: column;
}
.in-mid{
    margin-right: 60px;
    margin-left: 60px;
}
.in-side-box img{
    display: none;
    
}

.empty {
    margin: 50px;
    font-size: 20px;
}

.cart-section {
    padding: 10px;
    flex-direction: column; 
}

.cart-details {
    display: none;
}

.removeBtn {
    margin: 20px ;
}


  }